* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  margin-bottom:50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-contents {
  width: 300px;
  background-color: #EEEEEE;
  margin: 0 15px;
  padding: 10px;
  position: relative;
}

.step {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FF9A4B;
  color:white;
}

.image1 {
  background-image: url(image/flow01.png);
  background-size: cover;
  background-position: center;
  width:280px;
  height: 150px;
}

.image2 {
  background-image: url(image/flow02.png);
  background-size: cover;
  background-position: center;
  width:280px;
  height: 150px;
}

.image3 {
  background-image: url(image/flow03.png);
  background-size: cover;
  background-position: center;
  width:280px;
  height: 150px;
}

.main-text-title {
  margin-top: 15px;
  margin-bottom: 5px;

}

footer {
  width: 100%;
  height: 50px;
  margin-top:50px;
  background-color: #AAAAAA;
}


/*メディアクエリ適用*/

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .main-contents {
    width: 90%;
    margin: 0 auto 20px;
  }

  .main-contents:nth-child(3) {
    margin-bottom: 0;
  }

  .image1 {
    width: 100%;
    background-position: center bottom;
  }

  .image2 {
    width: 100%;
    background-position: center bottom;
  }

  .image3 {
    width: 100%;
    background-position: center bottom;
  }



}

